*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;    
    scroll-behavior: smooth;
    overflow: hidden;
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    transition: all .5s ease;
    /* background: black; */

}

.container {
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
}



.sisi-kiri {
    width: 60%;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kotak {
    width: 100%;
    max-width: 420px;
    padding: 1.2rem;
}

.logo {
    margin-bottom: 30px;
    display: flex;
    gap: 3px;
    font-size: 40px;
    font-weight: 900;
}

.logo-1 {
    color: #020202;
}
.logo-2 {
    color: #262626;
}
.logo-3 {
    color: #4b4b4b;
}
.logo-4 {
    color: #6f6f6f;
}
.logo-5 {
    color: #939393;
}

.welcome {
    margin-bottom: 40px;
}

.welcome strong {
    font-size: 20px;
}

.welcome p {
    font-size: 15px;
}

.form-grup {
    display: flex;
    flex-direction: column;
}

.form-grup input {
    height: 40px;
    border-radius: 8px;
    border: .5px solid grey;
    outline: none;
    padding: 0px 20px;
    margin: 10px 0px;
    transition: all .3s ease;
}

.form-grup input::placeholder {
    font-size: 15px;
}
.form-grup input:focus::placeholder {
    color: rgb(150, 179, 241);
}
.form-grup input:focus  {
    border: .5px solid rgb(73, 73, 249);
    box-shadow: 0px 0px 20px rgb(150, 179, 241);
}

.forgot-remember {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}

.forgot-remember div {
    display: flex;
}

.forgot-remember div input {
    margin-right: 10px;
}

.forgot-remember a {
    text-decoration: none;
}

.submit button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 9px;
    background: #1170ed;
    color: white;
}

.sisi-kanan {
    background-image: url(https://images.unsplash.com/photo-1519643225200-94e79e383724?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

@media screen and (max-width: 1406px) {
    .sisi-kanan {
        background-image: none;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sisi-kiri {
        width: 100%;
    }
}
